.body {
    background: #F3F5FC;
}

.logo {
    display: inline-block;
    position: fixed;
    left: 5%;
    top: 2%;
}

.leftPanel {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 90%;
    left: 10%;
    top: 10%;
}

.cryptInput {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80%;
    border: none;
    resize: none;
    background: transparent;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    color: #0A3871;
}

.buttonCrypt {
    padding: 24px;
    gap: 8px;
    width: 45%;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    float: left;
}

.buttonDecrypt {
    padding: 24px;
    gap: 8px;
    width: 45%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    float: right;
}

.rightPanel {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 80%;
    right: 10%;
    top: 10%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.buttonCopy {
    position: relative;
    top: -75px;
    margin: 0 auto;
    display: block;
    padding: 24px;
    gap: 8px;
    width: 90%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.cryptOutput {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 2em;
}

.cryptOutput:placeholder-shown {
    background: url(images/mono.svg) center center no-repeat;
    text-align: center;
    font-size: 1.5em;
}

.cryptOutput:not(:placeholder-shown) {
    background: none;
}

.footer {
    position: fixed;
    bottom: 0;
}